
AirlineSendAgent/bin/Debug/net6.0/AirlineSendAgent.deps.json
AirlineSendAgent/bin/Debug/net6.0/AirlineSendAgent.dll
AirlineSendAgent/bin/Debug/net6.0/AirlineSendAgent.exe
AirlineSendAgent/bin/Debug/net6.0/AirlineSendAgent.pdb
AirlineSendAgent/bin/Debug/net6.0/AirlineSendAgent.runtimeconfig.json
AirlineSendAgent/bin/Debug/net6.0/ref/AirlineSendAgent.dll
AirlineSendAgent/obj/AirlineSendAgent.csproj.nuget.dgspec.json
AirlineSendAgent/obj/AirlineSendAgent.csproj.nuget.g.props
AirlineSendAgent/obj/AirlineSendAgent.csproj.nuget.g.targets
AirlineSendAgent/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.AssemblyInfo.cs
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.AssemblyInfoInputs.cache
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.assets.cache
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.csproj.AssemblyReference.cache
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.csproj.CoreCompileInputs.cache
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.csproj.FileListAbsolute.txt
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.dll
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.GeneratedMSBuildEditorConfig.editorconfig
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.genruntimeconfig.cache
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.GlobalUsings.g.cs
AirlineSendAgent/obj/Debug/net6.0/AirlineSendAgent.pdb
AirlineSendAgent/obj/Debug/net6.0/apphost.exe
AirlineSendAgent/obj/Debug/net6.0/ref/AirlineSendAgent.dll
AirlineSendAgent/obj/project.assets.json
AirlineSendAgent/obj/project.nuget.cache
AirlineWeb/bin/Debug/net6.0/AirlineWeb.deps.json
AirlineWeb/bin/Debug/net6.0/AirlineWeb.dll
AirlineWeb/bin/Debug/net6.0/AirlineWeb.exe
AirlineWeb/bin/Debug/net6.0/AirlineWeb.pdb
AirlineWeb/bin/Debug/net6.0/AirlineWeb.runtimeconfig.json
AirlineWeb/bin/Debug/net6.0/appsettings.Development.json
AirlineWeb/bin/Debug/net6.0/appsettings.json
AirlineWeb/bin/Debug/net6.0/Microsoft.OpenApi.dll
AirlineWeb/bin/Debug/net6.0/ref/AirlineWeb.dll
AirlineWeb/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
AirlineWeb/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
AirlineWeb/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
AirlineWeb/obj/AirlineWeb.csproj.nuget.dgspec.json
AirlineWeb/obj/AirlineWeb.csproj.nuget.g.props
AirlineWeb/obj/AirlineWeb.csproj.nuget.g.targets
AirlineWeb/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AirlineWeb/obj/Debug/net6.0/AirlineWeb.AssemblyInfo.cs
AirlineWeb/obj/Debug/net6.0/AirlineWeb.AssemblyInfoInputs.cache
AirlineWeb/obj/Debug/net6.0/AirlineWeb.assets.cache
AirlineWeb/obj/Debug/net6.0/AirlineWeb.csproj.AssemblyReference.cache
AirlineWeb/obj/Debug/net6.0/AirlineWeb.csproj.CopyComplete
AirlineWeb/obj/Debug/net6.0/AirlineWeb.csproj.CoreCompileInputs.cache
AirlineWeb/obj/Debug/net6.0/AirlineWeb.csproj.FileListAbsolute.txt
AirlineWeb/obj/Debug/net6.0/AirlineWeb.dll
AirlineWeb/obj/Debug/net6.0/AirlineWeb.GeneratedMSBuildEditorConfig.editorconfig
AirlineWeb/obj/Debug/net6.0/AirlineWeb.genruntimeconfig.cache
AirlineWeb/obj/Debug/net6.0/AirlineWeb.GlobalUsings.g.cs
AirlineWeb/obj/Debug/net6.0/AirlineWeb.MvcApplicationPartsAssemblyInfo.cache
AirlineWeb/obj/Debug/net6.0/AirlineWeb.MvcApplicationPartsAssemblyInfo.cs
AirlineWeb/obj/Debug/net6.0/AirlineWeb.pdb
AirlineWeb/obj/Debug/net6.0/apphost.exe
AirlineWeb/obj/Debug/net6.0/project.razor.json
AirlineWeb/obj/Debug/net6.0/ref/AirlineWeb.dll
AirlineWeb/obj/Debug/net6.0/staticwebassets.build.json
AirlineWeb/obj/project.assets.json
AirlineWeb/obj/project.nuget.cache
AirlineWeb/obj/staticwebassets.pack.sentinel
TravelAgentWeb/obj/project.assets.json
TravelAgentWeb/obj/project.nuget.cache
TravelAgentWeb/obj/TravelAgentWeb.csproj.nuget.dgspec.json
TravelAgentWeb/obj/TravelAgentWeb.csproj.nuget.g.props
TravelAgentWeb/obj/TravelAgentWeb.csproj.nuget.g.targets
